/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/work/[slug]/WorkLayout.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.WorkLayout_workLayout__4zcTB {
  background-color: #fff;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  .WorkLayout_workLayout__4zcTB {
    background-color: #111;
  }
} 
